body{
    background-color: #395b52;
    color: white;
}
#contenedor {
    width: 900px;
    height: 500px;
    background-color: rgb(82, 114, 82);
    margin: auto;
}
ul{
    text-align: center;
    padding: 10px;
 }
 li{
     color: rgb(172, 164, 164);
     display: inline;
     padding: 10px 30px;
     margin: 3em;
 }
 li a{
    color: rgb(117, 69, 69);
    text-decoration: none;
     list-style: none;
 }
 li a:hover{
     color: rgb(25, 51, 120);
     text-decoration: none;
     list-style: none;
 }
